<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games Selection</title>
    <link rel="stylesheet" href="/gamesDashboard.css" />
  </head>
  <body class="dark-bg">
    <div class="main">
      <div class="main-upper">
        <div class="title">Daily Challenges</div>
      </div>
      <div class="games-container">
        <div class="game-tile">
          <div class="game-upper">
            <div class="game-img">
              <img src="/gamesDashboard/SimonSaysMini.svg" alt="" />
            </div>
          </div>
          <div class="game-lower">
            <div class="game-title">Simon Says</div>
            <button class="play" id="simon-says">Play</button>
          </div>
        </div>
        <div class="game-tile">
          <div class="game-upper">
            <div class="game-img">
              <img src="/gamesDashboard/wordleMini.svg" alt="" />
            </div>
          </div>
          <div class="game-lower">
            <div class="game-title">Wordle</div>
            <button class="play" id="wordle">Play</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/gamesDashboard.js"></script>
  </body>
</html>
