<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditation Sessions</title>
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
    <div class="title">
        <p class = "title-upper">Start your</p>
        <p class = "title-lower"><i>Meditation Session</i></p>
    </div>
    <div class="container">
        <div class="categories-container">
            <p class = "select">Select What You Want</p>
            <div class="categories">
                <div class="category first-card active">
                    <img src="/meditate/Group-27.svg" alt="" style="width: 180px; height: 180px; margin-bottom: -20px;">
                    <p class="word">Focus</p>
                </div>
                <div class="category">
                    <img src="/meditate/Union.svg" alt="" style="width: 140px; height: 140px; margin-top: 20px;">
                    <p class="word">Sleep</p>
                </div>
                <div class="category">
                    <img src="/meditate/Union-1.svg" alt="" style="width: 140px; height: 140px; margin-top: 20px;">
                    <p class="word">Relax</p>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="timer">
            <p class="select">Select Duration</p>
            <div class="time-card">
                
                <p class="sides minus disabled">-5</p>
                <div class="actual-time">
                    <p class="actual">5</p>
                    <p class="min">min</p>
                </div>
                <p class="sides plus">+5</p>
                
            </div>
        </div>
    </div>
    <div class="button">
        <button class="start" type="submit">
            Meditate <img src="/meditate/ph_play-fill.png" alt="" style="margin: 0 5px;">
        </button>
    </div>
<script type="text/javascript" src="/home.js"></script>
</body>
</html>
