<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuantaMind</title>
    <link rel="stylesheet" href="/homepage.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="dark-bg">
    <div class="main">
      <div class="main-left">
        <div class="main-upper">
          <div class="title">
            <div class="title-upper dark-title">Explore Your</div>
            <div class="title-lower dark-title">Inner Journey</div>
          </div>
        </div>
        <div class="interface">
          <div class="meter-block dark-meter-block">
            <div class="meter-upper">
              <div class="meter-disc">
                <p>Analyse your Mental Health &amp; Help Quotient</p>
              </div>
              <div class="meter-arrow dark-meter">
                <img src="/homepage/arrow-right-top.svg" alt="" />
              </div>
            </div>
            <div class="meter-title">Your Score <br />Meters</div>
            <div class="meter-lower">
              <img src="/homepage/meter1.png" alt="" style="height: 300px;"/>
            </div>
          </div>
          <div class="block-2">
            <div class="frame challenge dark-yellow">
              <div class="frame-upper">
                <div class="frame-disc">
                  <p>Attempt your daily task</p>
                </div>
                <div class="streak"><%= dailyStreak %> 🔥</div>
              </div>
              <div class="frame-title">
                Daily <br />
                Challenge
              </div>

              <div class="yellow-arrow">
                <img src="/homepage/ep_top-right.svg" alt="" />
              </div>
            </div>
            <div class="frame relax dark-red">
              <div class="frame-upper">
                <div class="frame-disc">
                  <p>Need Help ? <strong>Get</strong></p>
                </div>
              </div>
              <div class="frame-title">Relaxing Music &amp; Articles</div>
              <div class="frame-lower">
                <div class="red-arrow">
                  <img src="/homepage/red-arrow-right.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block-3">
        <div class="frame questions dark-pink">
          <div class="frame-upper">
            <div class="frame-disc">
              <p>Let’s start with a small</p>
            </div>
            <div class="ques-img">
              <img src="/homepage/uil_question.svg" alt="" />
            </div>
          </div>
          <div class="frame-title">Questionnaire</div>

          <div class="frame-lower">
            <div class="question-desc frame-disc">Help us know you better</div>
            <div class="pink-arrow">
              <img src="/homepage/ep_top-right (1).svg" alt="" />
            </div>
          </div>
        </div>
        <div class="frame meditate dark-green">
          <div class="frame-upper">
            <div class="frame-disc">Calm yourself Up</div>
            <div class="motivation-img">
              <img src="/homepage/meditationimg.svg" alt="" />
            </div>
          </div>
          <div class="frame-title">
            Meditation
            <br />
            Session
          </div>
          <div class="frame-lower">
            <div class="green-arrow">
              <img src="/homepage/red-arrow-right.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="frame journal dark-purple">
          <div class="frame-upper">
            <div class="frame-disc">
              Express Your Feelings <br />of the day!
            </div>
            <div class="journal-img">
              <img src="/homepage/ion_journal-outline.svg" alt="" />
            </div>
          </div>
          <div class="frame-title">Your Journal</div>
          <div class="frame-lower">
            <div class="journal-desc frame-disc">Help us analyse your mood</div>
            <div class="purple-plus">
              <img src="/homepage/ph_plus.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <form class="logout" method="post" action="/logout">
      <button class="logoutBtn" type="submit">Logout</button>
    </form>
    <!-- <div class="emotions">
      <button>Log your Emotions</button>
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Default switch checkbox input</label
      >
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexSwitchCheckChecked"
        >Checked switch checkbox input</label
      >
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDisabled"
        disabled
      />
      <label class="form-check-label" for="flexSwitchCheckDisabled"
        >Disabled switch checkbox input</label
      >
    </div>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckCheckedDisabled"
        checked
        disabled
      />
      <label class="form-check-label" for="flexSwitchCheckCheckedDisabled"
        >Disabled checked switch checkbox input</label
      >
    </div>
    <button class="themeBtn">Change Mode</button> -->
  </body>
  <script src="/homepage.js"></script>
</html>
