<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuantaMind</title>
    <link rel="stylesheet" href="/landing.css" />
  </head>
  <body>
    <div class="nav-bar">
      <div class="nav-bar-left">
        <img src="/landing/logoDark.svg" alt="" />
      </div>
      <div class="login-signup">
        <div class="login">Log In</div>
        <div class="signup">Sign Up</div>
      </div>
    </div>

    <div class="main dark-bg">
      <div class="main-upper">
        <div class="main-title">
          Your Brain Needs Attention! <br />
          Listen to it &#129504;
        </div>
        <div class="main-disc">
          Numerous individuals fail to acknowledge their mental health <br />
          challenges, and some may even deny their existence.
        </div>
        <div class="get-started">Get Started</div>
      </div>
      <div class="main-lower">
        <div class="fact">
          <div class="fact-title"><span>970</span><br />million</div>
          <div class="fact-disc">
            Number of people <br />
            globally that suffered <br />from mental health <br />
            disorders
          </div>
          <div class="fact-button">
            Improve your Mental Health
            <div><img src="/landing/top-rightArrow.svg" alt="" /></div>
          </div>
        </div>
        <div class="priority">
          Make your Mental Health a<br />
          <div class="priority-text">Priority</div>
        </div>
        <div class="main-lower-mid">
          <div class="feel">
            <div class="feel-title">
              TELL US HOW YOU <br />
              REALLY FEEL
            </div>

            <div class="feel-button">
              Try our Questionnaire
              <div><img src="/landing/top-rightArrow.svg" alt="" /></div>
            </div>
          </div>
          <div class="mind">
            <img src="/landing/quantamindBlack1.png" alt="" />
            <div class="mind-title">Let your Mind <br />be heard!</div>
          </div>
        </div>
        <div class="explore">
          <div class="explore-title">
            Explore your <br />
            Emotions & <br />
            Thoughts <br />with Us!
          </div>

          <div class="explore-button">
            Explore Now
            <div><img src="/landing/top-rightArrow.svg" alt="" /></div>
          </div>
        </div>
      </div>

      <div class="empower">
        <div class="title">Empowering Mental Well-Being</div>
        <div class="disc">
          Many individuals worldwide are facing mental health challenges,
          ranging from depression and anxiety to stress and trauma. However,
          access to traditional mental health services is often hindered by
          barriers such as cost, stigma, and lack of availability, leaving many
          people without the support and resources they need to manage their
          mental well-being effectively. To address this issue, there is a need
          for accessible, affordable, and scalable solutions that can provide
          information, support, and tools for individuals to improve their
          mental health and well-being.
        </div>
        <div class="btn">Explore More</div>
      </div>

      <div class="services">
        <div class="title">What We do?</div>
        <div class="services-cards">
          <div class="card tools">
            <img src="/landing/tools.png" alt="" />
            <div class="title">Self-help Tools & Techniques</div>
            <div class="disc">
              Our platform offers a comprehensive mental well-being
              questionnaire and mindfulness exercises tailored to support mental
              well-being.
            </div>
          </div>
          <div class="card monitor">
            <img src="/landing/monitor.png" alt="" />
            <div class="title">Track & Monitor Your Emotions and Thoughts</div>
            <div class="disc">
              Our platform provides tools for users to monitor their mental
              health journey. With meters and trackers, individuals gain
              valuable insights into their well-being.
            </div>
          </div>
          <div class="card resource">
            <img src="/landing/eye.png" alt="" />
            <div class="title">Access to Resources</div>
            <div class="disc">
              From informative articles to soothing music and uplifting quotes,
              our diverse range of resources aims to nourish the mind, body, and
              soul.
            </div>
          </div>
        </div>
        <div class="get-btn btn">Get Started</div>
      </div>
    </div>
    <script src="/landing.js"></script>
  </body>
</html>
