<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuantaMind</title>
    <link rel="stylesheet" href="/landing.css">
</head>
<body>
    <div class="firstSection">
        <p class="main-title">Your Brain Needs Attention! <br/> Listen to it 🧠 </p>
        <p class="main-desc">Numerous individuals fail to acknowledge their mental health <br/> challenges, and some may even deny their existence.</p>
        <button class="mainBtn">Get Started</button>
        <div class="tiles-container">
            <div class="stat">
                <div class="statUpper">
                    <p id="statNum">970</p>
                    <p id="million">million</p>
                </div>
                <div class="statMid">
                    <p id="desc">Number of people globally that suffered from mental health disorders</p>
                    <p id="desc-sm">(as of 2017)</p>
                </div>
                <div class="tileBtn">
                    <p id="btnText">Improve your Mental Health</p>
                    <img src="/landing/Group 3.png" alt="arrow">
                </div>
            </div>
            <div class="priority">
                <div class="priorityText">
                    <p id="priority-sm">Make your Mental Health a </p>
                    <p id="priority-lg">Priority</p>
                </div>
            </div>
            <div class="stat">
                <div class="statUpper">
                    <p id="statNum">970</p>
                    <p id="million">million</p>
                </div>
                <div class="statMid">
                    <p id="desc">Number of people globally that suffered from mental health disorders</p>
                    <p id="desc-sm">(as of 2017)</p>
                </div>
                <div class="tileBtn">
                    <p id="btnText">Improve your Mental Health</p>
                    <img src="/landing/Group 3.png" alt="arrow">
                </div>
            </div>
            <div class="stat">
                <div class="statUpper">
                    <p id="statNum">970</p>
                    <p id="million">million</p>
                </div>
                <div class="statMid">
                    <p id="desc">Number of people globally that suffered from mental health disorders</p>
                    <p id="desc-sm">(as of 2017)</p>
                </div>
                <div class="tileBtn">
                    <p id="btnText">Improve your Mental Health</p>
                    <img src="/landing/Group 3.png" alt="arrow">
                </div>
            </div>
        </div>
    </div>
    <script src="/landing.js"></script>
</body>
</html>