<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questionnaire</title>
    <link rel="stylesheet" type="text/css" href="/questionnaire.css" />
  </head>
  <body class="bg dark">
    <div class="main">
      <div class="main-left">
        <div class="main-left-top">
          <div class="ques-title">Questionnaire</div>
          <div class="ques-desc">Help us Know You</div>
          <div class="ques-desc2">Better !</div>
          <div class="ques-description">
            Attempt the quiz and evaluate your <b>mental well-being</b> and
            <b>help quotient meters</b>
          </div>
        </div>

        <div class="progress">
          <div class="progress-top">
            <div class="progress-quote">You are starting good!😍</div>
            <div class="progress-title">Your progress</div>
            <div class="progress-num">0% Completed</div>
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
      <div class="main-right">
        <div class="question-block">
          <div class="question-number"></div>
          <div class="intro-question">
            <span>Ready</span> to dig deeper in your
            <span>mental health journey?</span> 😃
          </div>
          <div class="options">
            <div class="get-started">Click on get started!</div>
            <form action="">
              <label for=""></label>
            </form>
          </div>
          <div class="submit">
            <div class="next-btn hide">
              Next
              <div class="arrow">
                <img src="/questionnaire/rightArrow.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="temp-block"></div> -->
      </div>
    </div>
    <script type="module" src="/questionnaire.js"></script>
  </body>
</html>
