<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resources</title>
    <link rel="stylesheet" href="/resources.css" />
  </head>
  <body class="dark-bg">
    <div class="main">
      <div class="cards-container">
        <div class="card yellow-card left-card">
          <div class="card-upper">
            <div class="card-class">Article</div>
            <div class="img">
              <img src="/resources/yellowImg.svg" alt="" />
            </div>
          </div>
          <div class="card-content">
            <div class="card-title">Living With Suicide</div>
            <div class="card-disc">
              Five individuals share their deeply personal experiences with
              having attempted suicide, and how they continue to grapple with
              thoughts of ending their lives, having chosen to live despite
              their daily struggles.
            </div>
          </div>
          <div class="card-lower">
            <div class="button articles">
              Read More <img src="/resources/rightArrow.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="card purple-card middle-card">
          <div class="card-upper">
            <div class="card-class">Quotes</div>
            <div class="img">
              <img src="/resources/purpleImg.svg" alt="" />
            </div>
          </div>
          <div class="card-content">
            <div class="card-title">Quotes</div>
            <div class="card-disc">
              “Being able to be your true self is one of the strongest
              components of good mental health.”
            </div>
          </div>
          <div class="card-lower">
            <div class="button quotes">
              Read More <img src="/resources/rightArrow.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="card red-card right-card">
          <div class="card-upper">
            <div class="card-class">Music</div>
            <div class="img">
              <img src="/resources/redImage.svg" alt="" />
            </div>
          </div>
          <div class="card-content">
            <div class="card-title">Relaxing Music</div>
            <div class="card-disc">
              Enhance your mental well-being by immersing yourself in the
              tranquil and soothing melodies of calming music.
            </div>
          </div>
          <div class="card-lower">
            <div class="button music">
              Read More <img src="/resources/rightArrow.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/resources.js"></script>
  </body>
</html>
