<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simon Says Game</title>
    <link rel="stylesheet" href="/simonSays.css" />
  </head>
  <body>
    <div class = "container">
      <div class="left">
        
        <p class="title">Simons Says</p>
        <div class = "deets-container">
          <p class="deets"> Your current streak</p>
          <div class = "streak"><div class="dailyStreak" style="display: inline-block;"><%= dailyStreak %></div> &#128293;</div>
        </div>
        <!-- <div class = "deets-container">
        <p class = "deets"> Hi - Score</p>
        <div class = "streak">&#127942; 0</div>
      </div> -->

      <div class = "info">
        <p class = "info-text">Your Score</p>
        <div class = "streak1">0</div>
        <button class = "play">Play</button>

      </div>
      </div>
      <div class = "right">
        <p class="press">Press any key to start the game</p>
        
        <div class="btn-container">
          <div class="upper-container">
            <div class="btn yellow" id="yellow"></div>
            <div class="btn red" id="red"></div>
          </div>
          <div class="lower-container">
            <div class="btn green" id="green"></div>
            <div class="btn blue" id="blue"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/simonSays.js"></script>
  </body>
</html>
