/* @import url("https://fonts.cdnfonts.com/css/product-sans"); */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Figtree:wght@400;500;600;700&display=swap");

body,
html {
  height: 100%;
  font-family: "Product Sans", sans-serif;
}

.bg {
  /* The image used */
  background-image: url("./questionnaire/bg_pink_light.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark {
  background-image: url("./questionnaire/yellowdarkbg.png");
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1e1e1e;
}
.main {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  overflow: hidden;
  /* flex-direction: column; */
}

.main-left,
.main-right {
  height: 100%;
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.main-left {
  margin-left: 50px;
  flex: 2;
}

.main-left-top {
  width: 378px;
}

.ques-title {
  color: #8b8b8b;
  /* text-align: center; */
  width: 378px;
  font-family: "DM Serif Display";
  font-size: 35.74px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.ques-desc {
  color: #000;
  /* text-align: center; */
  font-family: "Product Sans Medium", sans-serif;
  font-size: 45.74px;
  font-style: normal;
  font-weight: 500;
  width: 378px;
  line-height: normal;
  margin-top: 15px;
}

.ques-desc2 {
  color: #000;
  /* text-align: center; */
  font-family: "DM Serif Display";
  font-size: 65.74px;
  font-style: italic;
  width: 378px;
  font-weight: 400;
  line-height: normal;
}

.ques-description {
  color: #000;
  /* font-family: "Product Sans"; */
  /* text-align: center; */
  font-size: 22.74px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  width: 378px;
  margin-top: 10px;
}

.progress,
.question-block {
  flex-shrink: 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.progress-bar {
  background-color: #fff9;
  position: relative;
  top: 27px;
  height: 7px;
  right: 10px;
  width: 0;
  border-radius: 20px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}
.question-block {
  display: flex;
  width: 571px;
  flex-direction: column;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  transition: 1s;
  animation: float 2s ease-in 1s infinite;
}

.newCard {
  animation: nxtCard 1s ease-in 0.2s 1;
}

.side-animation {
  position: absolute;
  right: -700px;
  animation: side 1s ease-in 0.2s 1;
}

@keyframes side {
  0% {
    right: -700px;
  }
  100% {
    right: 100px;
  }
}
@keyframes float {
  0% {
    margin: 0;
  }
  50% {
    margin-bottom: 15px;
  }
  100% {
    margin: 0px;
  }
}

@keyframes nxtCard {
  0% {
  }
  100% {
    transform: scale(0.01);
  }
}

/* .question-block:hover {
  animation: none;
} */

.progress-quote,
.progress-num,
.question,
.next-btn {
  color: #000;
  text-align: center;
  font-family: "Product Sans Medium", sans-serif;
  font-size: 25.74px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 10px;
}
.question {
  font-size: 35.74px;
  text-align: left;
}

.intro-question {
  color: #000;

  font-family: "Product Sans Medium", sans-serif;
  font-size: 40.74px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.intro-question span {
  font-family: "DM Serif Display";
  font-style: italic;
}

.progress-num {
  font-size: 19.74px;
}

.progress-title {
  color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  text-align: center;
  font-family: "Product Sans Medium", sans-serif;
  font-size: 19.74px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.question-number {
  color: rgba(0, 0, 0, 0.5);
  /* text-align: center; */
  font-family: "DM Serif Display";
  font-size: 25.74px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.submit {
  display: flex;
  justify-content: flex-end;
}

.next-btn {
  gap: 13.953px;
  border-radius: 78.14px;
  border: 2.791px solid #000;
  padding: 13.953px 20.93px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(17.5px);
  transition: 0.2s;
  user-select: none;
}

.next-btn:hover {
  background-color: #000;
  color: #fff;
}

.next-btn:hover .arrow {
  background-color: white;
}

.arrow {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid black;
}

.arrow img {
  margin-top: 5px;
}

.options {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.get-started {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  font-family: "Product Sans Medium", sans-serif;
  font-size: 32.74px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.option-pair {
  display: flex;
  color: #000;
  margin-top: 10px;
  font-family: "Product Sans Medium", sans-serif;
  font-size: 27.74px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.option-pair label {
  margin-left: 10px;
}

.hide {
  display: none;
}

.upwards {
  position: absolute;
  z-index: 10;
}

.disabled-btn {
  opacity: 0.5;
  cursor: not-allowed;
}

.dark .question-block {
  background-color: #ffffd9;
}

.dark .ques-desc,
.dark .ques-description,
.dark .ques-desc2,
.dark .progress-quote,
.dark .progress-num {
  color: #fff;
}

.dark .progress {
  background-color: rgba(225, 225, 225, 0.15);
}

.dark .ques-title,
.dark .progress-title {
  color: rgba(225, 225, 225, 0.5);
}

@media (max-width: 1100px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .main-left {
    display: none;
  }
  .main-right {
    width: 80%;
  }
  .progress {
    /* margin-top: 50px; */
    /* margin-bottom: 100px; */
  }
}